<h1>We are owners!</h1>

<ul>
  <% @owners.each do |owner| %>
    <li>
      <a href="<%= owner_path(owner) %>">
      <%= link_to owner.name, owner%>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Owner", new_owner_path %>