<h1>We are owners!</h1>

There are <%= Owner.public_count %> dog owners!
<ul>
  <% @owners.each do |owner| %>
      <% unless article.archived? %>
    <li>
      <%= link_to owner.name, owner%>
    </li>
      <% end %>
  <% end %>
</ul>

<%= link_to "New Owner", new_owner_path %>