<h1><%= @owner.name %></h1>

<p><%= @owner.address %></p>

<ul>
  <li><%= link_to "Edit", edit_owner_path(@owner) %></li>
  <li><%= link_to "Destroy", owner_path(@owner), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>