<% unless dog.archived? %>
<p>
  <strong>DogName:</strong>
  <%= dog.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= dog.breed %>
</p>

<p>
  <strong>Sub Breed:</strong>
  <%= dog.subbreed %>
</p>

  <p>
    <%= link_to "Remove Dog", [dog.owner, dog], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
<% end %>