<!DOCTYPE html>
<html>
<head>
  <title>DogsLife</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<body>

  <div class="container">
    <h1>Welcome to DogsLife</h1>
    <p>This is the home page for authenticated users.</p>

    <% if user_signed_in? %>
      <p>Thank you for logging in, <%= current_user.email %>.</p>
    <% else %>
      <p>Please sign in to view available dogs and more.</p>
    <% end %>
  </div>
</body>
</html>
